.replacable {
  margin: 0;
  padding: none;
  position: fixed;
  z-index: 0;
  background-color: #4f4f4f;
  width: 100%;
  height: 100%;
}

body {
  padding: none;
  margin: 0px;
}

.square {
  width: 16px;
  height: 16px;
}

.hidden {
  display: none;
}

textarea {
  color: #818181;
  background-color: #232323;
  border: none;
  resize: none;
  padding: 4px;
}
textarea:focus {
  outline: none;
}

button {
  font-size: 20px;
  color: #818181;
  border: none;
  background-color: #232323;
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  float: left;
  margin-left: 5px;
  cursor: default;
  transition: 0.3s;
}
button:hover {
  background-color: #0099ff;
  color: #e9e9e9;
}
button:active {
  background-color: #0066ff;
  color: #e9e9e9;
}
button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  width: 99%;
}
th, td {
  text-align: left;
  text-decoration: none;
  padding: 8px;
}
th {
  background-color: #232323;
  color: #818181;
}
tr {
  background-color: #333333;
  color: #919191;
  border-bottom: 1px solid #000;
}
tr:hover {
  background-color: #0099ff;
  color: #e9e9e9;
}
tr:active {
  background-color: #0066ff;
  color: #e9e9e9;
}
.selected {
  background-color: #0066ff;
  color: #e9e9e9;
}
.selected:hover {
  background-color: #0099ff;
  color: #e9e9e9;
}
.selected:active {
  background-color: #333333;
  color: #919191;
}
