.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.navbtn .opennavbtn {
  position: fixed;
  cursor: default;
  font-size: 25px;
  transition: 0.3s;
  width: 35px;
  height: 35px;
  text-align: center;
  opacity: 0;
}
.navbtn:hover .opennavbtn {
  background-color: #424242;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}
