.titlesign {
  color: #0066ff;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
.subtitlesign {
  color: #0099ff;
  text-align: center;
  font-size: 20px;
}

.mainconfig {
  margin-top: 20px;
  color: #818181;
  font-size: 16px;
}
.mainconfig span {
  margin-top: 2px;
}
