.titlesign {
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
}
.subtitlesign {
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.mainconfig {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
.mainconfig span {
  
  margin-top: 3px;
  margin-left: 5px;
  float: left;
}
.mainconfig textarea {
  float:center;
  margin-left: auto;
  margin-righ: auto;
  position: relative;
  width: 40%;
 
}
.mainconfig .browse {
  height: 24px;
  margin-bottom: 3px;
  font-size: 16px;
}
